<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="text-align: center;">
    <h1>User Dashboard</h1>
    <div class="buttons-container">
        <a href="/user_dashboard/my_interviews" style="display: inline-block; background-color: #3498db; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin-bottom: 10px;">My Interviews</a>
        <a href="/select_interviews" style="display: inline-block; background-color: #3498db; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Select Interviews</a>
        <a href="/logout" style="display: inline-block; background-color: #e74c3c; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px; margin-top: 10px;">Logout</a>
    </div>
</body>
</html>
